<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DetailsParallaxView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8F655AE81CA706B400E04615</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F655AFC1CA706B500E04615</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F655B071CA706B500E04615</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
